/*
 * Estilos de tu proyecto
 */
 * {
     margin: 0;
     box-sizing: border-box;
 }
 body{
     ;
 }
 header {
    position: fixed;
    background: #2c3e50;
    color: #fff;
    width: 100%;
    height: 108px;
    padding: 25px 16px;
    font-family:'Montserrat',sans-serif;
    font-weight: 700px;
    line-height: 1.8;
    vertical-align: middle;
}
nav {
    margin: 0 173px;
}
 .capital-letter {
     text-transform: uppercase
 }
ul {
     list-style:none;
     padding: 0;
     text-align: right ;
     width: 70%;
 }
li{
     padding:8px;
     text-align: right;
     font-weight: 700;
     vertical-align: middle;
}
 .menu {
     display: inline-block;
 }
 h1{
     font-size: 32px;
     vertical-align: middle;
}
 a{
     text-decoration:none;
     color: #fff;
     display: inline-block;
     letter-spacing: 1px;
 }
 .start {
     background: #18bc9c;
     width: 100%;
     height: 700px;
     padding-top: 180px;
     text-align: center;
 }